
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



.menulist.active{
    right: 0;
}
.menuicon.active .bar:nth-child(1){
    transform: translateY(9px) rotate(45deg);
}
.menuicon.active .bar:nth-child(2){
    opacity: 0;
}
.menuicon.active .bar:nth-child(3){
    transform: translateY(-9px) rotate(-45deg);
}

.three-line{

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    
}